# Data description

We took the data from https://archive.ics.uci.edu/dataset/373/drug+consumption+quantified

Database contains records for 1885 respondents. For each respondent 12 attributes are known: Personality measurements which include NEO-FFI-R (neuroticism, extraversion, openness to experience, agreeableness, and conscientiousness), BIS-11 (impulsivity), and ImpSS (sensation seeking), level of education, age, gender, country of residence and ethnicity. All input attributes are originally categorical and are quantified. After quantification values of all input features can be considered as real-valued. In addition, participants were questioned concerning their use of 18 legal and illegal drugs (alcohol, amphetamines, amyl nitrite, benzodiazepine, cannabis, chocolate, cocaine, caffeine, crack, ecstasy, heroin, ketamine, legal highs, LSD, methadone, mushrooms, nicotine and volatile substance abuse and one fictitious drug (Semeron) which was introduced to identify over-claimers. For each drug they have to select one of the answers: never used the drug, used it over a decade ago, or in the last decade, year, month, week, or day.
Database contains 18 classification problems. Each of independent label variables contains seven classes: "Never Used", "Used over a Decade Ago", "Used in Last Decade", "Used in Last Year", "Used in Last Month", "Used in Last Week", and "Used in Last Day".

# Load the data

In [10]:
# Load the dependencies
import pandas as pd
import numpy as np
from pandas.api.types import CategoricalDtype
import matplotlib.pyplot as plt

In [2]:
# Let's import the dataset using UCL's API
from ucimlrepo import fetch_ucirepo 
  
# fetch dataset 
drug_consumption_quantified = fetch_ucirepo(id=373) 
  
# data (as pandas dataframes) 
X = drug_consumption_quantified.data.features 
y = drug_consumption_quantified.data.targets 
  
# metadata 
print(drug_consumption_quantified.metadata) 

# variable information 
print(drug_consumption_quantified.variables)

{'uci_id': 373, 'name': 'Drug Consumption (Quantified)', 'repository_url': 'https://archive.ics.uci.edu/dataset/373/drug+consumption+quantified', 'data_url': 'https://archive.ics.uci.edu/static/public/373/data.csv', 'abstract': 'Classify type of drug consumer by personality data', 'area': 'Social Science', 'tasks': ['Classification'], 'characteristics': ['Multivariate'], 'num_instances': 1885, 'num_features': 12, 'feature_types': ['Real'], 'demographics': ['Age', 'Gender', 'Education Level', 'Nationality', 'Ethnicity'], 'target_col': ['alcohol', 'amphet', 'amyl', 'benzos', 'caff', 'cannabis', 'choc', 'coke', 'crack', 'ecstasy', 'heroin', 'ketamine', 'legalh', 'lsd', 'meth', 'mushrooms', 'nicotine', 'semer', 'vsa'], 'index_col': ['id'], 'has_missing_values': 'no', 'missing_values_symbol': None, 'year_of_dataset_creation': 2015, 'last_updated': 'Fri Mar 08 2024', 'dataset_doi': '10.24432/C5TC7S', 'creators': ['Elaine Fehrman', 'Vincent Egan', 'Evgeny Mirkes'], 'intro_paper': {'ID': 413, 'type': 'NATIVE', 'title': 'The Five Factor Model of personality and evaluation of drug consumption risk', 'authors': 'E. Fehrman, A. Muhammad, E. Mirkes, Vincent Egan, A. Gorban', 'venue': 'Data Science', 'year': 2015, 'journal': None, 'DOI': None, 'URL': 'https://arxiv.org/abs/1506.06297', 'sha': None, 'corpus': None, 'arxiv': None, 'mag': None, 'acl': None, 'pmid': None, 'pmcid': None}, 'additional_info': {'summary': 'Database contains records for 1885 respondents. For each respondent 12 attributes are known: Personality measurements which include NEO-FFI-R (neuroticism, extraversion, openness to experience, agreeableness, and conscientiousness), BIS-11 (impulsivity), and ImpSS (sensation seeking), level of education, age, gender, country of residence and ethnicity. All input attributes are originally categorical and are quantified. After quantification values of all input features can be considered as real-valued. In addition, participants were questioned concerning their use of 18 legal and illegal drugs (alcohol, amphetamines, amyl nitrite, benzodiazepine, cannabis, chocolate, cocaine, caffeine, crack, ecstasy, heroin, ketamine, legal highs, LSD, methadone, mushrooms, nicotine and volatile substance abuse and one fictitious drug (Semeron) which was introduced to identify over-claimers. For each drug they have to select one of the answers: never used the drug, used it over a decade ago, or in the last decade, year, month, week, or day.\nDatabase contains 18 classification problems. Each of independent label variables contains seven classes: "Never Used", "Used over a Decade Ago", "Used in Last Decade", "Used in Last Year", "Used in Last Month", "Used in Last Week", and "Used in Last Day".\n\nProblem which can be solved:\n* Seven class classifications for each drug separately.\n* Problem can be transformed to binary classification by union of part of classes into one new class. For example, "Never Used", "Used over a Decade Ago" form class "Non-user" and all other classes form class "User".\n* The best binarization of classes for each attribute.\n* Evaluation of risk to be drug consumer for each drug.\n\nDetailed description of database and process of data quantification are presented in E. Fehrman, A. K. Muhammad, E. M. Mirkes, V. Egan and A. N. Gorban, "The Five Factor Model of personality and evaluation of drug consumption risk.," arXiv https://arxiv.org/abs/1506.06297, 2015\nPaper above solve binary classification problem for all drugs. For most of drugs sensitivity and specificity are greater than 75%.\n', 'purpose': None, 'funded_by': None, 'instances_represent': None, 'recommended_data_splits': None, 'sensitive_data': None, 'preprocessing_description': None, 'variable_info': '1. ID is number of record in original database. Cannot be related to participant. It can be used for reference only.\r\n\r\n2. Age (Real) is age of participant and has one of the values:\r\n     Value    Meaning Cases Fraction\r\n     -0.95197 18-24   643   34.11%\r\n     -0.07854 25-34   481   25.52%\r\n      0.49788 35-44   356   18.89%\r\n      1.09449 45-54   294   15.60%\r\n      1.82213 55-64    93    4.93%\r\n      2.59171 65+      18    0.95%\r\n     Descriptive statistics\r\n     Min      Max     Mean    Std.dev.\r\n     -0.95197 2.59171 0.03461 0.87813\r\n\r\n3. Gender (Real) is gender of participant:\r\n     Value    Meaning Cases Fraction\r\n      0.48246 Female  942   49.97%\r\n     -0.48246 Male    943   50.03%\r\n     Descriptive statistics\r\n     Min      Max     Mean     Std.dev.\r\n     -0.48246 0.48246 -0.00026 0.48246\r\n\r\n4. Education (Real) is level of education of participant and has one of the values:\r\n     Value    Meaning                                              Cases Fraction\r\n     -2.43591 Left school before 16 years                           28    1.49%\r\n     -1.73790 Left school at 16 years                               99    5.25%\r\n     -1.43719 Left school at 17 years                               30    1.59%\r\n     -1.22751 Left school at 18 years                              100    5.31%\r\n     -0.61113 Some college or university, no certificate or degree 506   26.84%\r\n     -0.05921 Professional certificate/ diploma                    270   14.32%\r\n      0.45468 University degree                                    480   25.46%\r\n      1.16365 Masters degree                                       283   15.01%\r\n      1.98437 Doctorate degree                                      89    4.72%\r\n     Descriptive statistics\r\n     Min      Max     Mean     Std.dev.\r\n     -2.43591 1.98437 -0.00379 0.95004\r\n\r\n5. Country (Real) is country of current residence of participant and has one of the values:\r\n     Value    Meaning             Cases Fraction\r\n     -0.09765 Australia             54   2.86%\r\n      0.24923 Canada                87   4.62%\r\n     -0.46841 New Zealand            5   0.27%\r\n     -0.28519 Other                118   6.26%\r\n      0.21128 Republic of Ireland   20   1.06%\r\n      0.96082 UK                  1044  55.38%\r\n     -0.57009 USA                  557  29.55%\r\n     Descriptive statistics\r\n     Min      Max     Mean    Std.dev.\r\n     -0.57009 0.96082 0.35554 0.70015\r\n\r\n6. Ethnicity (Real) is ethnicity of participant and has one of the values:\r\n     Value    Meaning           Cases Fraction\r\n     -0.50212 Asian               26   1.38%\r\n     -1.10702 Black               33   1.75%\r\n      1.90725 Mixed-Black/Asian    3   0.16%\r\n      0.12600 Mixed-White/Asian   20   1.06%\r\n     -0.22166 Mixed-White/Black   20   1.06%\r\n      0.11440 Other               63   3.34%\r\n     -0.31685 White             1720  91.25%\r\n     Descriptive statistics\r\n     Min      Max     Mean     Std.dev.\r\n     -1.10702 1.90725 -0.30958 0.16618\r\n\r\n7. Nscore (Real) is NEO-FFI-R Neuroticism. Possible values are presented in table below:\r\n     Nscore Cases Value         Nscore Cases Value         Nscore Cases Value\r\n     12      1    -3.46436      29     60    -0.67825      46     67    1.02119\r\n     13      1    -3.15735      30     61    -0.58016      47     27    1.13281\r\n     14      7    -2.75696      31     87    -0.46725      48     49    1.23461\r\n     15      4    -2.52197      32     78    -0.34799      49     40    1.37297\r\n     16      3    -2.42317      33     68    -0.24649      50     24    1.49158\r\n     17      4    -2.34360      34     76    -0.14882      51     27    1.60383\r\n     18     10    -2.21844      35     69    -0.05188      52     17    1.72012\r\n     19     16    -2.05048      36     73     0.04257      53     20    1.83990\r\n     20     24    -1.86962      37     67     0.13606      54     15    1.98437\r\n     21     31    -1.69163      38     63     0.22393      55     11    2.12700\r\n     22     26    -1.55078      39     66     0.31287      56     10    2.28554\r\n     23     29    -1.43907      40     80     0.41667      57      6    2.46262\r\n     24     35    -1.32828      41     61     0.52135      58      3    2.61139\r\n     25     56    -1.19430      42     77     0.62967      59      5    2.82196\r\n     26     57    -1.05308      43     49     0.73545      60      2    3.27393\r\n     27     65    -0.92104      44     51     0.82562\r\n     28     70    -0.79151      45     37     0.91093\r\n     Descriptive statistics\r\n     Min      Max     Mean    Std.dev.\r\n     -3.46436 3.27393 0.00004 0.99808\r\n\r\n8. Escore (Real) is NEO-FFI-R Extraversion. Possible values are presented in table below:\r\n     Escore Cases Value         Escore Cases Value         Escore Cases Value\r\n     16      2    -3.27393      31      55   -1.23177      45     91    0.80523\r\n     18      1    -3.00537      32      52   -1.09207      46     69    0.96248\r\n     19      6    -2.72827      33      77   -0.94779      47     64    1.11406\r\n     20      3    -2.53830      34      68   -0.80615      48     62    1.28610\r\n     21      3    -2.44904      35      58   -0.69509      49     37    1.45421\r\n     22      8    -2.32338      36      89   -0.57545      50     25    1.58487\r\n     23      5    -2.21069      37      90   -0.43999      51     34    1.74091\r\n     24      9    -2.11437      38     106   -0.30033      52     21    1.93886\r\n     25      4    -2.03972      39     107   -0.15487      53     15    2.12700\r\n     26     21    -1.92173      40     130    0.00332      54     10    2.32338\r\n     27     23    -1.76250      41     116    0.16767      55      9    2.57309\r\n     28     23    -1.63340      42     109    0.32197      56      2    2.85950\r\n     29     32    -1.50796      43     105    0.47617      58      1    3.00537\r\n     30     38    -1.37639      44     103    0.63779      59      2    3.27393\r\n     Descriptive statistics\r\n     Min      Max     Mean     Std.dev.\r\n     -3.27393 3.27393 -0.00016 0.99745\r\n\r\n9. Oscore (Real) is NEO-FFI-R Openness to experience. Possible values are presented in table below:\r\n     Oscore Cases Value         Oscore Cases Value         Oscore Cases Value\r\n     24      2    -3.27393      38      64   -1.11902      50     83    0.58331\r\n     26      4    -2.85950      39      60   -0.97631      51     87    0.72330\r\n     28      4    -2.63199      40      68   -0.84732      52     87    0.88309\r\n     29     11    -2.39883      41      76   -0.71727      53     81    1.06238\r\n     30      9    -2.21069      42      87   -0.58331      54     57    1.24033\r\n     31      9    -2.09015      43      86   -0.45174      55     63    1.43533\r\n     32     13    -1.97495      44     101   -0.31776      56     38    1.65653\r\n     33     23    -1.82919      45     103   -0.17779      57     34    1.88511\r\n     34     25    -1.68062      46     134   -0.01928      58     19    2.15324\r\n     35     26    -1.55521      47     107    0.14143      59     13    2.44904\r\n     36     39    -1.42424      48     116    0.29338      60      7    2.90161\r\n     37     51    -1.27553      49      98    0.44585\r\n     Descriptive statistics\r\n     Min      Max     Mean     Std.dev.\r\n     -3.27393 2.90161 -0.00053 0.99623\r\n\r\n10. Ascore (Real) is NEO-FFI-R Agreeableness. Possible values are presented in table below:\r\n     Ascore Cases Value         Ascore Cases Value         Ascore Cases Value\r\n     12      1    -3.46436      34      42   -1.34289      48     104   0.76096\r\n     16      1    -3.15735      35      45   -1.21213      49      85   0.94156\r\n     18      1    -3.00537      36      62   -1.07533      50      68   1.11406\r\n     23      1    -2.90161      37      83   -0.91699      51      58   1.2861\r\n     24      2    -2.78793      38      82   -0.76096      52      39   1.45039\r\n     25      1    -2.70172      39     102   -0.60633      53      36   1.61108\r\n     26      7    -2.53830      40      98   -0.45321      54      36   1.81866\r\n     27      7    -2.35413      41     114   -0.30172      55      16   2.03972\r\n     28      8    -2.21844      42     101   -0.15487      56      14   2.23427\r\n     29     13    -2.07848      43     105   -0.01729      57       8   2.46262\r\n     30     18    -1.92595      44     118    0.13136      58       7   2.75696\r\n     31     24    -1.77200      45     112    0.28783      59       1   3.15735\r\n     32     30    -1.62090      46     100    0.43852      60       1   3.46436\r\n     33     34    -1.47955      47     100    0.59042                  \r\n     Descriptive statistics\r\n     Min      Max     Mean     Std.dev.\r\n     -3.46436 3.46436 -0.00024 0.99744\r\n\r\n11. Cscore (Real) is NEO-FFI-R Conscientiousness. Possible values are presented in table below:\r\n     Cscore Cases Value         Cscore Cases Value         Cscore Cases Value\r\n     17      1    -3.46436      32       39  -1.25773      46     113   0.58489\r\n     19      1    -3.15735      33       49  -1.13788      47      95   0.7583\r\n     20      3    -2.90161      34       55  -1.01450      48      95   0.93949\r\n     21      2    -2.72827      35       55  -0.89891      49      76   1.13407\r\n     22      5    -2.57309      36       69  -0.78155      50      47   1.30612\r\n     23      5    -2.42317      37       81  -0.65253      51      43   1.46191\r\n     24      6    -2.30408      38       77  -0.52745      52      34   1.63088\r\n     25      9    -2.18109      39       87  -0.40581      53      28   1.81175\r\n     26     13    -2.04506      40       97  -0.27607      54      27   2.04506\r\n     27     13    -1.92173      41       99  -0.14277      55      13   2.33337\r\n     28     25    -1.78169      42      105  -0.00665      56       8   2.63199\r\n     29     24    -1.64101      43       90   0.12331      57       3   3.00537\r\n     30     29    -1.51840      44      111   0.25953      59       1   3.46436\r\n     31     41    -1.38502      45      111   0.41594                  \r\n     Descriptive statistics\r\n     Min      Max     Mean     Std.dev.\r\n     -3.46436 3.46436 -0.00039 0.99752\r\n\r\n12. Impulsive (Real) is impulsiveness measured by BIS-11. Possible values are presented in table below:\r\n     Impulsiveness Cases Fraction\r\n     -2.55524       20    1.06%\r\n     -1.37983      276   14.64%\r\n     -0.71126      307   16.29%\r\n     -0.21712      355   18.83%\r\n      0.19268      257   13.63%\r\n      0.52975      216   11.46%\r\n      0.88113      195   10.34%\r\n      1.29221      148    7.85%\r\n      1.86203      104    5.52%\r\n      2.90161        7    0.37%\r\n     Descriptive statistics\r\n     Min      Max     Mean    Std.dev.\r\n     -2.55524 2.90161 0.00721 0.95446\r\n\r\n13. SS (Real) is sensation seeing measured by ImpSS. Possible values are presented in table below:\r\n     SS       Cases Fraction\r\n     -2.07848  71    3.77%\r\n     -1.54858  87    4.62%\r\n     -1.18084 132    7.00%\r\n     -0.84637 169    8.97%\r\n     -0.52593 211   11.19%\r\n     -0.21575 223   11.83%\r\n      0.07987 219   11.62%\r\n      0.40148 249   13.21%\r\n      0.76540 211   11.19%\r\n      1.22470 210   11.14%\r\n      1.92173 103    5.46%\r\n     Descriptive statistics\r\n     Min      Max     Mean     Std.dev.\r\n     -2.07848 1.92173 -0.00329 0.96370\r\n\r\n14. Alcohol is class of alcohol consumption. It is output attribute with following distribution of classes.\r\n\r\n15. Amphet is class of amphetamines consumption. It is output attribute with following distribution of classes.\r\n\r\n16. Amyl is class of amyl nitrite consumption. It is output attribute with following distribution of classes.\r\n\r\n17. Benzos is class of benzodiazepine consumption. It is output attribute with following distribution of classes:\r\n     Value Class                     Alcohol        Amphet          Amyl          Benzos\r\n                                  Cases Fraction Cases Fraction Cases Fraction Cases Fraction\r\n     CL0   Never Used              34    1.80%   976   51.78%   1305  69.23%   1000  53.05%\r\n     CL1   Used over a Decade Ago  34    1.80%   230   12.20%    210  11.14%    116   6.15%\r\n     CL2   Used in Last Decade     68    3.61%   243   12.89%    237  12.57%    234  12.41%\r\n     CL3   Used in Last Year      198   10.50%   198   10.50%     92   4.88%    236  12.52%\r\n     CL4   Used in Last Month     287   15.23%    75    3.98%     24   1.27%    120   6.37%\r\n     CL5   Used in Last Week      759   40.27%    61    3.24%     14   0.74%     84   4.46%\r\n     CL6   Used in Last Day       505   26.79%   102    5.41%      3   0.16%     95   5.04%\r\n\r\n18. Caff is class of caffeine consumption. It is output attribute with following distribution of classes.\r\n\r\n19. Cannabis is class of cannabis consumption. It is output attribute with following distribution of classes.\r\n\r\n20. Choc is class of chocolate consumption. It is output attribute with following distribution of classes.\r\n\r\n21. Coke is class of cocaine consumption. It is output attribute with following distribution of classes:\r\n     Value Class                      Caff         Cannabis         Choc           Coke\r\n                                  Cases Fraction Cases Fraction Cases Fraction Cases Fraction\r\n     CL0   Never Used               27   1.43%   413   21.91%    32    1.70%   1038  55.07%\r\n     CL1   Used over a Decade Ago   10   0.53%   207   10.98%     3    0.16%    160   8.49%\r\n     CL2   Used in Last Decade      24   1.27%   266   14.11%    10    0.53%    270  14.32%\r\n     CL3   Used in Last Year        60   3.18%   211   11.19%    54    2.86%    258  13.69%\r\n     CL4   Used in Last Month      106   5.62%   140    7.43%   296   15.70%     99   5.25%\r\n     CL5   Used in Last Week       273  14.48%   185    9.81%   683   36.23%     41   2.18%\r\n     CL6   Used in Last Day       1385  73.47%   463   24.56%   807   42.81%     19   1.01%\r\n\r\n22. Crack is class of crack consumption. It is output attribute with following distribution of classes.\r\n\r\n23. Ecstasy is class of ecstasy consumption. It is output attribute with following distribution of classes.\r\n\r\n24. Heroin is class of heroin consumption. It is output attribute with following distribution of classes.\r\n\r\n25. Ketamine is class of ketamine consumption. It is output attribute with following distribution of classes:\r\n     Value Class                     Crack         Ecstasy         Heroin        Ketamine\r\n                                  Cases Fraction Cases Fraction Cases Fraction Cases Fraction\r\n     CL0   Never Used             1627  86.31%   1021  54.16%   1605  85.15%   1490  79.05%\r\n     CL1   Used over a Decade Ago   67   3.55%    113   5.99%     68   3.61%     45   2.39%\r\n     CL2   Used in Last Decade     112   5.94%    234  12.41%     94   4.99%    142   7.53%\r\n     CL3   Used in Last Year        59   3.13%    277  14.69%     65   3.45%    129   6.84%\r\n     CL4   Used in Last Month        9   0.48%    156   8.28%     24   1.27%     42   2.23%\r\n     CL5   Used in Last Week         9   0.48%     63   3.34%     16   0.85%     33   1.75%\r\n     CL6   Used in Last Day          2   0.11%     21   1.11%     13   0.69%      4   0.21%\r\n\r\n26. Legalh is class of legal highs consumption. It is output attribute with following distribution of classes\r\n\r\n27. LSD is class of alcohol consumption. It is output attribute with following distribution of classes\r\n\r\n28. Meth is class of methadone consumption. It is output attribute with following distribution of classes.\r\n\r\n29. Mushrooms is class of magic mushrooms consumption. It is output attribute with following distribution of classes:\r\n     Value Class                     Legalh          LSD            Meth         Mushrooms\r\n                                  Cases Fraction Cases Fraction Cases Fraction Cases Fraction\r\n     CL0   Never Used             1094  58.04%   1069  56.71%   1429  75.81%   982   52.10%

Independent variables

In [4]:
X.head()

,age,gender,education,country,ethnicity,nscore,escore,oscore,ascore,cscore,impuslive,ss
0,0.49788,0.48246,-0.05921,0.96082,0.12600,0.31287,-0.57545,-0.58331,-0.91699,-0.00665,-0.21712,-1.18084
1,-0.07854,-0.48246,1.98437,0.96082,-0.31685,-0.67825,1.93886,1.43533,0.76096,-0.14277,-0.71126,-0.21575
2,0.49788,-0.48246,-0.05921,0.96082,-0.31685,-0.46725,0.80523,-0.84732,-1.62090,-1.01450,-1.37983,0.40148
3,-0.95197,0.48246,1.16365,0.96082,-0.31685,-0.14882,-0.80615,-0.01928,0.59042,0.58489,-1.37983,-1.18084
4,0.49788,0.48246,1.98437,0.96082,-0.31685,0.73545,-1.63340,-0.45174,-0.30172,1.30612,-0.21712,-0.21575

In [6]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1885 entries, 0 to 1884
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        1885 non-null   float64
 1   gender     1885 non-null   float64
 2   education  1885 non-null   float64
 3   country    1885 non-null   float64
 4   ethnicity  1885 non-null   float64
 5   nscore     1885 non-null   float64
 6   escore     1885 non-null   float64
 7   oscore     1885 non-null   float64
 8   ascore     1885 non-null   float64
 9   cscore     1885 non-null   float64
 10  impuslive  1885 non-null   float64
 11  ss         1885 non-null   float64
dtypes: float64(12)
memory usage: 176.8 KB

## X decoding for EDA clearness

In [11]:
# The X features are already standarized and, in the case of categorical ones, quantified. However, let's decode them in order to get the EDA more comprehensive.

# 2. Create a copy to decode
X_decoded = X.copy()

# ---------------------------------------------------------
# Define Mappings (rounded to match dataset precision)
# ---------------------------------------------------------

age_map = {
    -0.95197: '18-24',
    -0.07854: '25-34',
    0.49788:  '35-44',
    1.09449:  '45-54',
    1.82213:  '55-64',
    2.59171:  '65+'
}

# Ordered from lowest to highest
age_order = ['18-24', '25-34', '35-44', '45-54', '55-64', '65+']

education_map = {
    -2.43591: 'Left school before 16 years',
    -1.73790: 'Left school at 16 years',
    -1.43719: 'Left school at 17 years',
    -1.22751: 'Left school at 18 years',
    -0.61113: 'Some college or university, no certificate or degree',
    -0.05921: 'Professional certificate/ diploma',
    0.45468:  'University degree',
    1.16365:  'Masters degree',
    1.98437:  'Doctorate degree'
}

# Ordered from lowest to highest
edu_order = [
    'Left school before 16 years',
    'Left school at 16 years',
    'Left school at 17 years',
    'Left school at 18 years',
    'Some college or university, no certificate or degree',
    'Professional certificate/ diploma',
    'University degree',
    'Masters degree',
    'Doctorate degree'
]

gender_map = {0.48246: 'Female', -0.48246: 'Male'}

country_map = {
    -0.09765: 'Australia', 0.24923: 'Canada', -0.46841: 'New Zealand',
    -0.28519: 'Other', 0.21128: 'Republic of Ireland', 0.96082: 'UK', -0.57009: 'USA'
}

ethnicity_map = {
    -0.50212: 'Asian', -1.10702: 'Black', 1.90725: 'Mixed-Black/Asian',
    0.12600: 'Mixed-White/Asian', -0.22166: 'Mixed-White/Black', 0.11440: 'Other', -0.31685: 'White'
}

# ---------------------------------------------------------
# Apply Transformations
# ---------------------------------------------------------

# Map the values (Rounding to 5 decimals is essential for matching)
X_decoded['age'] = X['age'].round(5).map(age_map)
X_decoded['education'] = X['education'].round(5).map(education_map)
X_decoded['gender'] = X['gender'].round(5).map(gender_map)
X_decoded['country'] = X['country'].round(5).map(country_map)
X_decoded['ethnicity'] = X['ethnicity'].round(5).map(ethnicity_map)

# Enforce Ordinal Types
X_decoded['age'] = pd.Categorical(X_decoded['age'], categories=age_order, ordered=True)
X_decoded['education'] = pd.Categorical(X_decoded['education'], categories=edu_order, ordered=True)

# Enforce Nominal Types (No order)
X_decoded['gender'] = X_decoded['gender'].astype('category')
X_decoded['country'] = X_decoded['country'].astype('category')
X_decoded['ethnicity'] = X_decoded['ethnicity'].astype('category')

# ---------------------------------------------------------
# Correct Verification of Ordinality
# ---------------------------------------------------------
# We verify by checking the integer codes underlying the categories
doc_code = X_decoded['education'].cat.categories.get_loc("Doctorate degree")
mast_code = X_decoded['education'].cat.categories.get_loc("Masters degree")

print("Encoded Dataframe Info:")
print(X_decoded.info())

print(f"\nCorrect Proof of Ordinality:")
print(f"Doctorate Rank Index: {doc_code}")
print(f"Masters Rank Index:   {mast_code}")
print(f"Is Doctorate > Masters? {doc_code > mast_code}")

Encoded Dataframe Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1885 entries, 0 to 1884
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        1885 non-null   category
 1   gender     1885 non-null   category
 2   education  1885 non-null   category
 3   country    1885 non-null   category
 4   ethnicity  1885 non-null   category
 5   nscore     1885 non-null   float64
 6   escore     1885 non-null   float64
 7   oscore     1885 non-null   float64
 8   ascore     1885 non-null   float64
 9   cscore     1885 non-null   float64
 10  impuslive  1885 non-null   float64
 11  ss         1885 non-null   float64
dtypes: category(5), float64(7)
memory usage: 113.8 KB
None

Correct Proof of Ordinality:
Doctorate Rank Index: 8
Masters Rank Index:   7
Is Doctorate > Masters? True

In [12]:
X_decoded.head(5)

,age,gender,education,country,ethnicity,nscore,escore,oscore,ascore,cscore,impuslive,ss
0,35-44,Female,Professional certificate/ diploma,UK,Mixed-White/Asian,0.31287,-0.57545,-0.58331,-0.91699,-0.00665,-0.21712,-1.18084
1,25-34,Male,Doctorate degree,UK,White,-0.67825,1.93886,1.43533,0.76096,-0.14277,-0.71126,-0.21575
2,35-44,Male,Professional certificate/ diploma,UK,White,-0.46725,0.80523,-0.84732,-1.62090,-1.01450,-1.37983,0.40148
3,18-24,Female,Masters degree,UK,White,-0.14882,-0.80615,-0.01928,0.59042,0.58489,-1.37983,-1.18084
4,35-44,Female,Doctorate degree,UK,White,0.73545,-1.63340,-0.45174,-0.30172,1.30612,-0.21712,-0.21575

Target variables

In [13]:
y.head()

,alcohol,amphet,amyl,benzos,caff,cannabis,choc,coke,crack,ecstasy,heroin,ketamine,legalh,lsd,meth,mushrooms,nicotine,semer,vsa
0,CL5,CL2,CL0,CL2,CL6,CL0,CL5,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL2,CL0,CL0
1,CL5,CL2,CL2,CL0,CL6,CL4,CL6,CL3,CL0,CL4,CL0,CL2,CL0,CL2,CL3,CL0,CL4,CL0,CL0
2,CL6,CL0,CL0,CL0,CL6,CL3,CL4,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL1,CL0,CL0,CL0
3,CL4,CL0,CL0,CL3,CL5,CL2,CL4,CL2,CL0,CL0,CL0,CL2,CL0,CL0,CL0,CL0,CL2,CL0,CL0
4,CL4,CL1,CL1,CL0,CL6,CL3,CL6,CL0,CL0,CL1,CL0,CL0,CL1,CL0,CL0,CL2,CL2,CL0,CL0

In [14]:
y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1885 entries, 0 to 1884
Data columns (total 19 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   alcohol    1885 non-null   object
 1   amphet     1885 non-null   object
 2   amyl       1885 non-null   object
 3   benzos     1885 non-null   object
 4   caff       1885 non-null   object
 5   cannabis   1885 non-null   object
 6   choc       1885 non-null   object
 7   coke       1885 non-null   object
 8   crack      1885 non-null   object
 9   ecstasy    1885 non-null   object
 10  heroin     1885 non-null   object
 11  ketamine   1885 non-null   object
 12  legalh     1885 non-null   object
 13  lsd        1885 non-null   object
 14  meth       1885 non-null   object
 15  mushrooms  1885 non-null   object
 16  nicotine   1885 non-null   object
 17  semer      1885 non-null   object
 18  vsa        1885 non-null   object
dtypes: object(19)
memory usage: 279.9+ KB

## Y decoding for EDA clearness

In [15]:
# Create a copy to keep the original y safe
y_decoded = y.copy()

# ---------------------------------------------------------
# Define the Ordinal Mapping
# ---------------------------------------------------------
# Based on the variable description provided earlier:
# CL0 = Never Used -> 0
# CL6 = Used in Last Day -> 6
drug_usage_map = {
    'CL0': 0,  # Never Used
    'CL1': 1,  # Used over a Decade Ago
    'CL2': 2,  # Used in Last Decade
    'CL3': 3,  # Used in Last Year
    'CL4': 4,  # Used in Last Month
    'CL5': 5,  # Used in Last Week
    'CL6': 6   # Used in Last Day
}

# ---------------------------------------------------------
# Apply Transformation to All Target Columns
# ---------------------------------------------------------
# We iterate through every column in y_encoded and map the values
for column in y_decoded.columns:
    y_decoded[column] = y_decoded[column].map(drug_usage_map)

    # Ensure they are stored as integers (not floats)
    y_decoded[column] = y_decoded[column].astype(int)

# ---------------------------------------------------------
# Verification
# ---------------------------------------------------------
print("Transformed Target Data (First 5 Rows):")
display(y_decoded.head())

print("\nData Types:")
print(y_decoded.dtypes)

# Check one column distribution to ensure mapping worked
print("\nExample Distribution for 'Cannabis':")
print(y_decoded['cannabis'].value_counts().sort_index())

Transformed Target Data (First 5 Rows):

,alcohol,amphet,amyl,benzos,caff,cannabis,choc,coke,crack,ecstasy,heroin,ketamine,legalh,lsd,meth,mushrooms,nicotine,semer,vsa
0,5,2,0,2,6,0,5,0,0,0,0,0,0,0,0,0,2,0,0
1,5,2,2,0,6,4,6,3,0,4,0,2,0,2,3,0,4,0,0
2,6,0,0,0,6,3,4,0,0,0,0,0,0,0,0,1,0,0,0
3,4,0,0,3,5,2,4,2,0,0,0,2,0,0,0,0,2,0,0
4,4,1,1,0,6,3,6,0,0,1,0,0,1,0,0,2,2,0,0

Data Types:
alcohol      int64
amphet       int64
amyl         int64
benzos       int64
caff         int64
cannabis     int64
choc         int64
coke         int64
crack        int64
ecstasy      int64
heroin       int64
ketamine     int64
legalh       int64
lsd          int64
meth         int64
mushrooms    int64
nicotine     int64
semer        int64
vsa          int64
dtype: object

Example Distribution for 'Cannabis':
cannabis
0    413
1    207
2    266
3    211
4    140
5    185
6    463
Name: count, dtype: int64

## Check for missing values in both datasets

In [16]:
print(X_decoded.isnull().any())
print(y_decoded.isnull().any())

age          False
gender       False
education    False
country      False
ethnicity    False
nscore       False
escore       False
oscore       False
ascore       False
cscore       False
impuslive    False
ss           False
dtype: bool
alcohol      False
amphet       False
amyl         False
benzos       False
caff         False
cannabis     False
choc         False
coke         False
crack        False
ecstasy      False
heroin       False
ketamine     False
legalh       False
lsd          False
meth         False
mushrooms    False
nicotine     False
semer        False
vsa          False
dtype: bool

## Decoded datasets concatenation

In [17]:
# Let's concatenate X and y for a while
df_decoded = pd.concat([X_decoded, y_decoded], axis=1)
df_decoded.head()

,age,gender,education,country,ethnicity,nscore,escore,oscore,ascore,cscore,...,ecstasy,heroin,ketamine,legalh,lsd,meth,mushrooms,nicotine,semer,vsa
0,35-44,Female,Professional certificate/ diploma,UK,Mixed-White/Asian,0.31287,-0.57545,-0.58331,-0.91699,-0.00665,...,0,0,0,0,0,0,0,2,0,0
1,25-34,Male,Doctorate degree,UK,White,-0.67825,1.93886,1.43533,0.76096,-0.14277,...,4,0,2,0,2,3,0,4,0,0
2,35-44,Male,Professional certificate/ diploma,UK,White,-0.46725,0.80523,-0.84732,-1.62090,-1.01450,...,0,0,0,0,0,0,1,0,0,0
3,18-24,Female,Masters degree,UK,White,-0.14882,-0.80615,-0.01928,0.59042,0.58489,...,0,0,2,0,0,0,0,2,0,0
4,35-44,Female,Doctorate degree,UK,White,0.73545,-1.63340,-0.45174,-0.30172,1.30612,...,1,0,0,1,0,0,2,2,0,0

# Save the data

In [18]:
X.to_csv('Data/X.csv', index=False)
y.to_csv('Data/y.csv', index=False)
X_decoded.to_csv('Data/X_decoded.csv', index=False)
y_decoded.to_csv('Data/y_decoded.csv', index=False)
df_decoded.to_csv('Data/df_decoded.csv', index=False)